@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@theme{
  --color-primary: '#c3ccdb';
}

:root {
  --font-fira: 'Fira Code', monospace;

    font-family: var(--font-fira);
    font-optical-sizing: auto;
    font-style: normal;
}

body{
  width: 100%;
  margin: 0;
  padding: 0;
}